<div class='container'>
  <form ng-submit="saveTask()" name="newTask.taskForm">
    <div class='form-group'>
      <label>Enter Subject</label>
      <input type='text' class='form-control' ng-model='newTask.subject' required />
    </div>
    <div class='form-group'>
      <label>Enter Details</label>
      <textarea class='form-control' ng-model='newTask.detail' required ></textarea>
    </div>
    <div class='form-group'>
      <label>Priority?</label>
      <select ng-model='newTask.priority' ng-init="somethingHere = options[0].value" required>
        <option value="Low" >Low</option>
        <option value="High">High</option>
        <option value="Urgent">Urgent</option>
      </select>
      <!-- <input type='text' class='form-control' ng-model='newTask.priority' required /> -->
    </div>
    <div class='form-group'>
      <label>Enter User</label>
      <input type='text' class='form-control' ng-model='newTask.user' required />
    </div>
    <div class='form-group'>
      <label>Enter Due Date</label>
      <input type='date' class='form-control' ng-model='newTask.date' required />
    </div>
    <button type='sumbit'>Save task</button>
  </form>
</div>
