<div class="container">
  Search: <input type="text" placeholder="Search" ng-model="searchTask" /><br />
  or search by:<br />
  User:
   <select name="multipleSelect" ng-model="searchTab.user" multiple>
      <option ng-repeat="task in searchTab.tasks | unique: 'user'" value="{{task.user}}">{{task.user}}</option>
    </select>
    <button ng-click="searchTab.selectByUser(searchTab.user)">Choose</button><br />
    or search by:<br />
  Priority:
   <select name="multipleSelect1" ng-model="searchTab.priority" multiple>
      <option value="Low">Low</option>
      <option value="High">High</option>
      <option value="Urgent">Urgent</option>
    </select>
    <button ng-click="searchTab.selectByPriority(searchTab.priority)">Choose</button><br />
  or search by:<br />
  Date:
  <div class="dropdown">
    <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
      <div class="input-group">
        <input type="text" class="form-control" data-ng-model="searchTab.date"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
      </div>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <datetimepicker data-ng-model="searchTab.date" data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle' }"/>
    </ul>
  </div>
  <button ng-click="searchTab.selectByDate()">Choose</button><br/><br />
  <button ng-click="searchTab.restoreSearch()">Restore search</button>


  <h4>List of tasks</h4>
  <div ng-repeat="task in searchTab.tasks  |  filter:searchTask track by $index">
    <label>Subject:</label>{{task.subject}}
    <label>Details:</label>{{task.details}}
    <label>Priority:</label>{{task.priority}}
    <label>User:</label>{{task.user}}
    <label>Due date:</label>{{task.date | date:'medium'}}
  </div>
</div>
